/* Media query */
/* for small/mobile devices */
@media only screen and (max-width: 672px) {
    .header {
        width: 100%;
        height: 520px;
        background-size: cover;
        background-position: center;
    }

    .banner {
        margin: 0;
        padding-top: 30px;
    }

    .banner-title {
        font-size: 10vw;
        font-weight: 600;
        padding: 20px 20px 0px 20px;
    }

    .section-title {
        font-size: 8vw;
        font-weight: 600;
        padding: 20px 20px 0px 20px;
        margin-bottom: 0px;
    }

    .banner-description,
    .section-description {
        font-size: 4vw;
        padding: 20px;
        margin-bottom: 20px;
    }

    .donate-today,
    .donate-plan,
    .get-update {
        margin-top: 80px;
    }

    .donation {
        max-width: 100%;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .amount>p {
        font-weight: 700;
        font-size: 4.5vw;
        text-align: center;
        color: #707070;
        margin: auto;
    }

    .amount {
        width: 100px;
        height: 80px;
        display: flex;
    }

    .input-amount {
        font-size: 4.5vw;
        width: 90%;
    }

    .plan-section {
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }

    .plan-1,
    .plan-2,
    .plan-3 {
        width: 100%;
        height: 100%;
        margin: 0px;
        text-align: center;
    }

    .plan-title {
        margin: 0px;
    }

    .plan-pic {
        margin: 0px;
        padding: 30px 20px 20px 20px;
    }

    .plan-description {
        margin: 0px;
        padding: 10px 20px 30px 20px;
    }
    
    /* active alternate sections */
    .howto-1, .howto-2 {
        display: none;
    }
    .howto-1-alternate {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 580px;
        margin: 0;
        margin-top: 80px;
    }
    .howto-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .howto-image-1, .howto-image-2 {
        width: 90%;
        margin: 0px;
        padding-top: 15px;
    }
    .howto-details>h2,
    .howto-details>p {
        text-align: center;
    }
    .howto-details>p {
        padding: 20px 30px 0;
    }
    .howto-2-alternate {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 620px;
        margin: 0;
        margin-top: 80px;
    }

    .get-update {
        margin: 0;
        margin-top: 80px;
    }

    .email {
        width: 90%;
        margin: 0px 20px 30px 20px;
    }

    .input-email {
        width: 70%;
        margin-left: 10px;
    }

    .btn-email {
        width: 30%;
        margin-right: 10px;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 80px 0 0 0;
    }

    .footer-title {
        font-size: 9vw;
        padding: 0;
    }
    .footer-description {
        font-size: 3.5vw;
        padding-bottom: 20px;
    }
}
